*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.container{
    padding: 10px;
    height: 900px;
}

.navbar{
    height: 55px;
    width: auto;
    border-radius: 40px;
    border: 1px solid #e0d6c2;
    color: #e0d6c2;
    font-weight: 600;
    font-size: 14px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style-type: none;
}

.nav-link-1{
    display: flex;
    width: 100%;
    height: 100%;
}

.nav-link-1 div:first-child{
    width: 370px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#343124;
    margin-right: 4px;
    border-radius: 30px;
}

.nav-link-1 div:nth-child(2), .nav-link-1 div:nth-child(3), .nav-link-1 div:nth-child(4), .nav-link-1 div:nth-child(5){
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    border: 1px solid #e0d6c2;
    margin-right: 4px;
    border-radius: 40px;
}

.nav-link-1 div:last-child{
    display: none;
}

.nav-link-1 div:hover, .nav-link-2:hover{
    background-color: rgb(224 214 194);
    color: #343124;
    cursor: pointer;
}

.nav-link-2{
    width: 180px;
    height: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #e0d6c2;
}

.content-container{
    color: rgb(52 36 21);
}

.grids{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 10px;
}

.grid-1 div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.grid-1{
    grid-row: 1/3;
    background-color: rgb(224 214 194);
    padding: 10px;
    height: 800px;
    margin-right: 10px;
    border-radius: 30px;
}

.grid-1 div:first-child{
    padding: 30px;
}

.grid-2{
    grid-column: 2/4;
    background-color: #8f8868;
    margin-bottom: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.grid-4{
    background-color: #b5a38d;
    border-radius: 30px;
}

.bg-image-1{
    background-image: url("https://s3-alpha-sig.figma.com/img/dd77/b915/9bd218bf2e2ad3b90da9abce140d1ba8?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=EaI~WY5J95rtFSHICaUU9V~E5sFwUTDe22mTU3UaxFjdTDJz0t1MUzqEd4T6MrVcUzMCF1n4rcul0YaYPkIaut5I6EshQDv0F0yDGRPrDe8~se1AU~hXxDNXu0PjRBgulUskXZRikvLbojrPYD3cBRxWEtSg23doyC9vHlJDzFLz5RtWcUSsurc5AiW425KBvXyNV-yLZoBwk4D9DNb0H3ROJNhLyODMVsbRFGbhE-pES96swA6P6J6LPLYf-Zoy7dxkKWJ6wFvFWGouJqixiOkpCvuFWyF6MNjpsy~hmKPsXwYWboGZADYAl7Sbv~-kOvzLqIHyfrgQ8q7ngY8fKw__");
    height: 60%;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 30px;
    
}

.grid-1 div h3{
    font-weight: 500;
    padding: 2px;
    width: 190px;
    border: 1px solid rgb(52 36 21);
    border-radius: 30px;
    text-align: center;
}

.grid-1 div:nth-child(3){
    width: 100%;
    border-top: 1px solid #a49885;
    margin-top: 30px;
}

.grid-2-desc p:first-child{
    font-weight: 500;
    padding: 2px;
    width: 120px;
    border: 1px solid rgb(52 36 21);
    border-radius: 30px;
    text-align: center;
}

.grid-2-desc {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 30px 0 30px;
}

.grid-2 div:first-child{
    display: flex;
}

.grid-2-image{
    margin: 30px;
}

.grid-2-image img{
    width: 370px;
    height: 240px;
    border-radius: 17px;
}

.grid-2 div:nth-child(2){
    width: 100%;
    border-top: 1px solid #6f664b;
    margin-top: 10px;
}

.grid-2 div:last-child{
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.grid-3{
    background-color: #976c54;
    margin-right: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.grid-3-image{
    display: flex;
    justify-content: center;
}

.grid-3-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.big-dots{
    display: flex;
}

.big-dots div{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color:rgb(52 36 21);
}

.grid-3-image img{
    width: 400px;
    height: 160px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.grid-3 div:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 22px;
}

.grid-4-head{
    display: flex;
    justify-content: space-between;
}

.grid-4-domain{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 2px solid black;
    
    border-bottom: 2px solid black;
    font-size: 13px;
    font-weight: bolder;
}

@media screen and (max-width:1330px) {
    .nav-link-1 div:first-child{
        width: 290px;
    }

    .nav-link-2{
        width: 180px;
    }

    .grid-3-image img{
        width: 270px;
    }

    .grid-2-image img{
        width: 270px;
    }
}

@media screen and (max-width:945px){
    .nav-link-1 div:nth-child(2), .nav-link-1 div:nth-child(3), .nav-link-1 div:nth-child(4), .nav-link-2{
        display: none;
    }

    .nav-link-1 div:first-child{
        width: 90%;
    }

    .nav-link-1 div:last-child{
        display: flex;
        justify-content: center;
    }

    .grids{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .grid-1{
        height: 600px;
    }
}

@media screen and (max-width:600px){
    .grid-2 div:first-child{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}